---
// Footer avec informations légales
---

<footer class="bg-white py-8 mt-auto">
  <div class="w-full">
    <p class="text-[15px] font-secondary font-medium text-primary">
      Copyright 2014 - {new Date().getFullYear()}, GameOn Inc.
    </p>
  </div>
</footer>
